body {
  font-family: "Poppins", sans-serif;
  background: #fffdf8;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: white;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color:  #ff4081;;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  text-align: center;
}

.btn-shop {
  display: inline-block;
  margin-top: 20px;
  background:  #ff4081;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-shop:hover {
  background: #c19b2e;
}

.welcome{
  
}